@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ebeffb;
}

body {
  background-color: #ebeffb;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
